<main class="index">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row">
                            <h3>
                                HOLA MUNDO
                            </h3>
                            <h3>
                                <a href="/profile">Perfil</a>
                            </h3>
                            <h3>
                                <a href="/logout">Cerrar Sesión</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>