<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Ingreso Alumnos</h3>
        </div>
        <div class="card-body">
          <form action="/signinAlumno" method="POST">
            <div class="form-group" style="text-align:left">
              <h6>Número de documento</h6>
              <input type="text" name="dni" class="form-control">
            </div>
            <div class="form-group" style="text-align:left">
              <h6>Contraseña</h6>
              <input type="password" name="contraseña" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">
                Iniciar sesión
              </button>
            </div>
            <a class="text-align-center" href="/signinProfesor">
              Ingresar como profesor
            </a>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>